params {
  inputDirectory = "$launchDir/data/test"
  proteinFastaFile = "$launchDir/data/AnnotatedProteins.fsa"
  annotationGff =  "$launchDir/data/pfal3D7.gff"
  //  outputFileName = "proteinStats.tab"
  outputDir = "$launchDir/output"
}

process {
  maxForks = 1
}

includeConfig "$baseDir/conf/docker.config"

