params {
  inputDirectory = "$launchDir/data/test"
  proteinFastaFile = "$launchDir/data/AnnotatedProteins.fsa"
  annotationGff =  "$launchDir/data/pfal3D7.gff"
  proteinGffFileName = "ms_peptides_protein_align.gff"
  genomeGffFileName = "ms_peptides_genome_align.gff"
  outputDir = "$launchDir/output"
}

process {
  maxForks = 1
}

includeConfig "$baseDir/conf/docker.config"

